<div class="task-list">
    <button class="btn btn-primary" (click)="createNewTask()">New Task</button>
  
    <table class="table table-hover mt-4">
      <thead>
        <tr>
          <th>Assigned To</th>
          <th>Status</th>
          <th>Due Date</th>
          <th>Priority</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.AssignedTo }}</td>
          <td>{{ task.Status }}</td>
          <td>{{ task.dueDate }}</td>
          <td>{{ task.priority }}</td>
          <td>
            <button class="btn btn-warning" (click)="editTask(task)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTask(task.id)">Delet</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <app-task-form
      *ngIf="showForm"
      [task]="currentTask"
      (save)="onSaveTask($event)"
    ></app-task-form>
  </div>
  